/Users/dulendrasahu/Documents/Coding Practice/hMS/hospital-management-system/Backend/.env
/Users/dulendrasahu/Documents/Coding Practice/hMS/hospital-management-system/Backend/node_modules
/Users/dulendrasahu/Documents/Coding Practice/hMS/hospital-management-system/Frontend/node_modules